body {
    display: flex;
    flex-direction: column;
    background-color:darkslategrey;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 400px;
    min-height: 200px;
    min-width: 100px;
    margin: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:gray;
    border: 5px solid black;
    align-items: center;
}

#calculator_buttons_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.calculator_buttons {
    min-height: 50px;
    min-width: 50px;
    align-items: center;
    justify-content: center;
}